<!DOCTYPE html>
<html>

<head>
  <title>All Courses</title>
  <meta charset="UTF-8" />
  <meta name="description"
    content="Learn Qur'an, Arabic, and Islamic Studies online with expert tutors.
    Dar Arqam, where the timeless beauty of the Quran and the richness 
    of the Arabic language come alive in the digital realm." />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="icon" href="images/favicon.ico" type="image/ico" />
  <link rel="icon" href="images/favicon-16x16.png" type="image/ico" sizes="16x16" />
  <link rel="icon" href="images/favicon-32x32.png" type="image/png" sizes="32x32" />
  <link rel="stylesheet" href="/css/homeStyle.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" />
  <link href="https://fonts.googleapis.com/css2?family=Reem+Kufi&display=swap" rel="stylesheet">
  <script src="/javaScript/homeScript.js"></script>

<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=AW-16468014061">
</script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'AW-16468014061');
</script>

<!-- <script src="https://www.google.com/recaptcha/enterprise.js?render=6Le-PxUqAAAAAH36yAEY-tMAWqU5TaVRWaUdts1W"></script> -->


<body>
  <!-- Navbar -->
  <%- include("layout/header") -%>

  <div class="coming-soon-body">
      <div class="coming-soon-container">
          <div class="coming-soon-icon">🚧</div>
          
          <h1 class="coming-soon-title">Coming Soon!</h1>
          
          <p class="coming-soon-description">
              We're currently building out this section of our website to bring you more valuable information.
          </p>

          <div class="coming-soon-suggestions">
              <h3>In the meantime, why not:</h3>
              <ul class="coming-soon-list">
                  <li>Head back to our <a href="/" class="coming-soon-link">Homepage</a></li>
                  <li>Learn more <a href="/about" class="coming-soon-link">About Us</a></li>
                  <li>Read the latest on our <a href="/blog" class="coming-soon-link">Blog</a></li>
              </ul>
          </div>

          <p class="coming-soon-contact">
              If you're looking for something specific, feel free to <a href="#" class="coming-soon-link">contact us</a>.
          </p>
      </div>
  </div>

  

  <!-- Footer -->
  <%- include("layout/footer") -%>
</body>
</html>