<!DOCTYPE html>
<html>

<head>
  <title>Dar Arqam - Online Quran Academy</title>
  <meta charset="UTF-8" />
  <meta name="description"
    content="Online Quran & Arabic tutors for private lessons. Learn Qur'an, 
    Arabic, and Islamic Studies online with professional teachers.
    Dar Arqam, where the timeless beauty of the Quran and the richness 
    of the Arabic language come alive in the digital realm." />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="icon" href="images/favicon.ico" type="image/ico" />
  <link rel="icon" href="images/favicon-16x16.png" type="image/ico" sizes="16x16" />
  <link rel="icon" href="images/favicon-32x32.png" type="image/png" sizes="32x32" />
  <link rel="stylesheet" href="/css/homeStyle.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" />
  <script src="/javaScript/homeScript.js"></script>
</head>

<script>
  // Function to handle smooth scrolling to a section
  function scrollToSection(sectionId) {
    const section = document.getElementById(sectionId);
    if (section) {
      section.scrollIntoView({ behavior: "smooth" });
    }
  }

  // Add event listeners to the navigation links
  document.addEventListener("DOMContentLoaded", function () {
    const navLinks = document.querySelectorAll("nav ul li a");
    navLinks.forEach(function (link) {
      link.addEventListener("click", function (event) {
        event.preventDefault();
        const targetSectionId = link.getAttribute("href").substring(1); // Remove the leading "#"
        scrollToSection(targetSectionId);
      });
    });
  });

  // document.addEventListener("DOMContentLoaded", function () {
  //   var loginLink = document.querySelector("#login");
  //   loginLink.addEventListener("click", function (event) {
  //     event.preventDefault();
  //     window.location.href = "Login/login.html";
  //   });
  // });

  // document.addEventListener('DOMContentLoaded', function() {
  //   var loginLink = document.querySelector('#register');
  //   loginLink.addEventListener('click', function(event) {
  //     event.preventDefault();
  //     window.location.href = '/register/register.html';
  //   });
  // });
</script>

<body>
  <!-- Navbar -->
  <%- include("layout/header") -%>

    <!-- Hero -->
    <section class="hero" id="hero">
      <h1>
        <b>
          Online <span style="color: #7fffd4"> Quran</span> &
          <span style="color: aquamarine">Arabic</span> <br />
          tutors for private lessons <br />
        </b>
        <b id="dar">Learn Quran, Islamic Studies, and Arabic with Professional Teachers</b>
        <b id="dar1">Islamic Education Academy - Dar Arqam - Detailed with Knowledge</b>
        <a href="#registration"><button id="trialButton">Book a FREE Trial</button></a>
      </h1>
    </section>

    <!-- Courses -->
    <p id="courses"></p>
    <div class="courses">
    <h1 class="courses-headline">Our Courses</h1>
    <div class="container1">
      <div class="course">
        <div class="course-title">Quran for kids</div>
        <img src="images/course1.jpg" alt="Course 1" />
        <div class="overlay">
          <h3 class="sub-title">Recitation</h3>
          <h3 class="sub-title">Explanation</h3>
          <h3 class="sub-title">Memorization</h3>
          <h3 class="sub-title">Tajweed</h3>
          <h4 class="one">(one-on-one)</h4>
          <a href="#registration"><button class="courTriButt">Free Trial</button></a>
        </div>
      </div>
      <div class="course">
        <div class="course-title">Arabic for kids</div>
        <img src="images/course3.jpeg" alt="Course 3" />
        <div class="overlay">
          <h3 class="sub-title">Reading</h3>
          <h3 class="sub-title">Writing</h3>
          <h3 class="sub-title">Conversation</h3>
          <h3 class="sub-title">Grammar</h3>
          <h4 class="one">(one-on-one)</h4>
          <a href="#registration"><button class="courTriButt">Free Trial</button></a>
        </div>
      </div>
      <div class="course">
        <div class="course-title">Islamic studies</div>
        <img src="images/course5.jpg" alt="Course 5" />
        <div class="overlay">
          <h3 class="sub-title">Aqeedah, Seerah</h3>
          <h3 class="sub-title">Fiqh, Islamic Manners</h3>
          <h3 class="sub-title">Daily Duaa</h3>
          <h4 class="one">(one-on-one)</h4>
          <a href="#registration"><button class="courTriButt">Free Trial</button></a>
        </div>
      </div>
      <div class="course">
        <div class="course-title">Quran and Tajweed for adults</div>
        <img src="images/course2.png" alt="Course 2" />
        <div class="overlay">
          <h3 class="sub-title">Recitation</h3>
          <h3 class="sub-title">Tajweed</h3>
          <h3 class="sub-title">Memorization</h3>
          <h3 class="sub-title">Tafseer</h3>
          <h4 class="one">(one-on-one)</h4>
          <a href="#registration"><button class="courTriButt">Free Trial</button></a>
        </div>
      </div>
      <div class="course">
        <div class="course-title">Tafseer of the Quran</div>
        <img src="images/tafseer.png" alt="tafseer" />
        <div class="overlay">
          <h3 class="sub-title">Explanation of the Quran</h3>
          <h4 class="one">(one-on-one)</h4>
          <a href="#registration"><button class="courTriButt">Free Trial</button></a>
        </div>
      </div>
      <div class="course">
        <div class="course-title">Arabic for adults</div>
        <img src="images/course4.jpg" alt="Course 4" />
        <div class="overlay">
          <h3 class="sub-title">Speaking</h3>
          <h3 class="sub-title">Grammar</h3>
          <h3 class="sub-title">Reading</h3>
          <h3 class="sub-title">Writing</h3>
          <h4 class="one">(one-on-one)</h4>
          <a href="#registration"><button class="courTriButt">Free Trial</button></a>
        </div>
      </div>
      <div class="course">
        <div class="course-title">Ijazah and Ten Qira'at</div>
        <img src="images/Ijazah.jpeg" alt="Course 6" />
        <div class="overlay">
          <h3 class="sub-title">Recitation Ijazah</h3>
          <h3 class="sub-title">Memorization Ijazah</h3>
          <h3 class="sub-title">Ten Qira'at</h3>
          <h4 class="one">(one-on-one)</h4>
          <a href="#registration"><button class="courTriButt">Free Trial</button></a>
        </div>
      </div>
      <!-- <div class="course">
        <div class="course-title">Halaqah of Quran</div>
        <img src="images/halaqah3.png" alt="Course 1" />
        <div class="overlay">
          <h3 class="sub-title">Halaqah of Quran</h3>
          <h4 class="one">(group)</h4>
          <a href="#registration"><button class="courTriButt">Free Trial</button></a>
        </div>
      </div> -->
    </div>
    </div>
    <div class="plans-button-container">
      <!-- Button -->
      <a href="https://dararqam.com/plans" class="plans-button">See our Plans</a>
    </div>

    <!-- Free Trial Registration -->
    <section class="registration" id="registration">
      <form action="/send_email" method="POST">
        <h1 class="Trial-headline">Free Trial Registration</h1>
        <div class="form-group">
          <label for="name">Full Name</label>
          <input type="text" id="name" name="name" required />
        </div>

        <div class="form-group">
          <div class="input-field">
            <label for="email">Email</label>
            <input type="email" id="email" name="email" required />
          </div>
          <div class="input-field">
            <label for="phone">Phone Number</label>
            <input type="number" id="phone" name="phone" required />
          </div>
        </div>

        <div class="form-group">
          <div class="input-field">
            <label for="country">Country</label>
            <input type="text" id="country" name="country" required />
          </div>
          <div class="input-field">
            <label for="city">City</label>
            <input type="text" id="city" name="city" required />
          </div>
        </div>

        <div class="form-group">
          <div class="input-field">
            <label for="age">Student Age</label>
            <input type="number" id="age" name="age" required />
        </div>

          <div class="gender">
            <label for="gender">Gender</label>
            <div class="gend">
            <input type="radio" id="male" name="gender" value="male" required>
              <label for="male" >Male</label>
            </input>
            <input type="radio" id="female" name="gender" value="female" required>
              <label for="female" >Female</label>
            </input>
            </div>
          </div>
        </div>

        <input type="submit" value="Submit" />
      </form>

      <div id="hover-message">Successfully Registered. We will contact you.</div>

      <script>
        document.getElementById("registration").addEventListener("submit", function(event) {    
            // Show the hover message
            document.getElementById("hover-message").style.display = "block";
    
            // You can add additional logic here, such as sending the form data to the server using AJAX
    
            // Hide the message after 3 seconds (3000 milliseconds)
            setTimeout(function() {
                document.getElementById("hover-message").style.display = "none";
            }, 3000);
        });
      </script>

      <div class="contact-info">
        <h2>LET'S GET IN TOUCH</h2>
        <br />
        <p>
          Email: <a href="mailto:support@dararqam.com">support@dararqam.com</a>
        </p>
        <p>
          WhatsApp:
          <a href="https://wa.me/201009517839" target="_blank">+20 100 951 7839</a>
        </p>
      </div>
    </section>

    <section class="about-section" id="about">
      <div class="content">
        <h2 class="about">About Us</h2>
        <div class="rectangle-container">
          <div class="rectangle white">
            <p>
              All praise is due to Allah. Welcome to our esteemed academy, Dar
              Arqam, where the timeless beauty of the Quran and the richness of
              the Arabic language come alive in the digital realm. We are a
              pioneering institution dedicated to providing remote education in
              Quranic studies, Islamic studies, and the Arabic language,
              empowering students from all corners of the globe to embark on a
              transformative journey of learning and discovery. The Messenger of
              Allah (ﷺ) said: "Whoever takes a path upon which to obtain
              knowledge, Allah makes the path to Paradise easy for him."
            </p>
          </div>
          <div class="rectangle purple">
            <p>
              At our academy, we understand the importance of preserving and
              implementing the teachings of the Quran as it was revealed, as
              well as learning the Prophetic Sunnah and fostering a deep
              understanding of the Arabic language. All of these elements work
              together to shape the individual and the Muslim community. With a
              team of highly qualified teachers, sheikh, educators, and language
              experts, we strive to create a virtual learning environment that
              nourishes intellectual growth, spiritual enlightenment, and
              linguistic proficiency.
            </p>
          </div>
          <div class="rectangle purple">
            <p>
              Our curriculum revolves around the Quranic sciences, including
              Recitation, Tafsir (interpretation), Tajweed (the correct
              pronunciation and recitation of the Quran), Memorization, and
              Ijazah enabling students to develop a profound connection with the
              divine words. Also, we mean by teaching Islamic studies and Sunnah
              including Aqeedah, Hadith, Seerah, and Fiqh. Simultaneously, we
              offer comprehensive Arabic language courses, ranging from
              foundational grammar to advanced proficiency, equipping learners
              with the tools to understand and appreciate the linguistic nuances
              of the Quran and other Islamic texts.
            </p>
          </div>
          <div class="rectangle white">
            <p>
              Join us and embark on a transformative educational journey 
              that will enrich your mind, nourish your soul, and empower
              you to connect with the divine message and the cultural heritage
              of the Arab world. Whether you are a beginner taking your first
              steps in understanding the Quran or an advanced student seeking to
              refine your recitation or delve deeper into Arabic literature.
              Together, let us unlock the beauty and wisdom encapsulated in the
              words of the Quran and embark on a lifelong pursuit of knowledge,
              all from the comfort of your own home.
              <a href="https://dararqam.com/about" style="font-size: smaller; color: purple; text-decoration: none; border-bottom: 1px solid purple;">Read more</a>
            </p>
          </div>          
        </div>
      </div>
    </section>

    <!-- Links -->
    <!-- Footer -->
    <%- include("layout/footer") -%>

      <!-- JavaScript -->
      <script>
      // Smooth scrolling function (for buttons)
      function smoothScroll(target, duration) {
        const targetElement = document.querySelector(target);
        const targetPosition = targetElement.offsetTop;
        const startPosition = window.pageYOffset;
        const distance = targetPosition - startPosition;
        let startTime = null;

        function animation(currentTime) {
          if (startTime === null) startTime = currentTime;
          const timeElapsed = currentTime - startTime;
          const scrollY = ease(timeElapsed, startPosition, distance, duration);
          window.scrollTo(0, scrollY);
          if (timeElapsed < duration) requestAnimationFrame(animation);
        }

        // Easing function
        function ease(t, b, c, d) {
          t /= d / 2;
          if (t < 1) return (c / 2) * t * t + b;
          t--;
          return (-c / 2) * (t * (t - 2) - 1) + b;
        }

        requestAnimationFrame(animation);
      }

      // Add click event listener to the "trialButton"
      const trialButton = document.getElementById("trialButton");
      trialButton.addEventListener("click", function (event) {
        event.preventDefault(); // Prevent default anchor behavior
        smoothScroll("#registration", 1000); // Smooth scroll to the target section
      });

      // Add click event listeners to the "courTriButt" buttons
      const courTriButtButtons = document.querySelectorAll(".courTriButt");
      courTriButtButtons.forEach(function (button) {
        button.addEventListener("click", function (event) {
          event.preventDefault(); // Prevent default anchor behavior
          smoothScroll("#registration", 1000); // Smooth scroll to the target section
        });
      });
      </script>
      <script src="/javaScript/homeScript.js"></script>

</body>
</html>