<!DOCTYPE html>
<html>

<head>
  <title>Payment Successful</title>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="icon" href="images/favicon.ico" type="image/ico" />
  <link rel="icon" href="images/favicon-16x16.png" type="image/ico" sizes="16x16" />
  <link rel="icon" href="images/favicon-32x32.png" type="image/png" sizes="32x32" />
  <link rel="stylesheet" href="/css/homeStyle.css" />
</head>

<body>
  <div class="container">
    <div class="success-message">
        <a href= https://dararqam.com class="logo-container">
          <img src="images/logo.png" alt="Logo" class="logo">
        </a>
        <h1>Payment Successful</h1>
        <p>Thank you for choosing Dar Arqam.</p>
        <img src="images/check.png" alt="done" class="check">
    </div>
  </div>

  <script>
    // cookie
      function setSecureCookie(cookieName, cookieValue, expirationDays) {
          var d = new Date();
          d.setTime(d.getTime() + (expirationDays * 24 * 60 * 60 * 1000));
          var expires = "expires=" + d.toUTCString();
          // Add "Secure" attribute to make it secure
          var secureFlag = "Secure";
          document.cookie = cookieName + "=" + cookieValue + ";" + expires + ";path=/;" + secureFlag;
      }
      // Call the function to set a secure cookie
      setSecureCookie("DarArqamCookie", "DarArqamValue", 30);
  </script>
</body>
</html>

<style>
    body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background-color: #fff; /* Updated background color to white */
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.success-message {
    text-align: center;
    background-color: #fff;
    padding: 40px; /* Adjust the padding to make the container bigger */
    border-radius: 8px;
}

.logo-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px; /* Adjust margin as needed */
}

.logo {
    width: 70px; /* Adjust the width as needed */
    height: auto;
    cursor: pointer;
}

.success-message h1 {
    color: #4CAF50;
}

.success-message p {
    margin: 10px 0;
}

.success-message .check {
    width: 60px; /* Adjust the width as needed */
    height: auto;
}
</style>
