<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Terms and Conditions</title>
    <meta charset="utf-8" />
    <meta name="description"
      content="Terms and Conditions of Dar Arqam" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="images/favicon.ico" type="image/ico" />
    <link rel="icon" href="images/favicon-16x16.png" type="image/ico" sizes="16x16" />
    <link rel="icon" href="images/favicon-32x32.png" type="image/png" sizes="32x32" />
    <!-- <link rel="stylesheet" href="/css/homeStyle.css" /> -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" />
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-color: #f7f7f7;
            color: #555555;
        }

        .container {
            max-width: 1000px;
            margin: 20px auto;
            padding: 20px;
            background-color: #fff;
            box-shadow: 0 0 10px rgba(243, 1, 234, 0.1);
            border-radius: 5px;
        }

        h1 {
            font-size: 24px;
            margin-bottom: 20px;
            text-align: center;
            color: #4f4e4e;
        }

        .sub-title {
            font-size: 18px;
            font-weight: bold;
            margin-bottom: 10px;
            color: #4f4e4e;
        }

        p {
            font-size: 16px;
            line-height: 1.4;
        }

        ol {
            margin-top: 10px;
            padding-left: 20px;
        }

        li {
            margin-bottom: 5px;
        }

        a {
            color: #a701a7;
            text-decoration: none;
        }

        a:hover {
            text-decoration: none;
        }

        footer {
            margin-top: 20px;
            text-align: center;
            color: #777;
        }
    </style>
</head>
<body>

    <div class="container">
        <h1>Terms and Conditions</h1>
        <p>1. Acceptance of Terms: By accessing or using the services provided by Dar Arqam, you agree to be bound by these Terms and Conditions. If you do not agree to these terms, please do not use our services.</p>
        <p>2. Use of Services: Our services, including but not limited to the content provided on our website and YouTube channel, are intended for educational purpose only. You agree not to use our services for any unlawful or unauthorized purpose.</p>
        <p>3. Copyright: All content provided by Dar Arqam, including text, images, videos, and other materials, is protected by copyright laws. You may not reproduce, distribute, or modify any content without prior written permission from Dar Arqam.</p>
        <p>4. Links to Third-Party Websites: Our website may contain links to third-party websites for your convenience. We do not endorse or take responsibility for the content or practices of these websites. Your use of third-party websites is at your own risk.</p>
        <p>5. Privacy Policy: We respect your privacy and are committed to protecting your personal information. Please review our <a href="/privacy-policy">Privacy Policy</a> to understand how we collect, use, and disclose your information.</p>
        <p>6. Limitation of Liability: Dar Arqam and its affiliates shall not be liable for any direct, indirect, incidental, special, or consequential damages arising out of or in any way connected with the use of our services.</p>
        <p>7. Modifications to Terms: Dar Arqam reserves the right to modify these Terms and Conditions at any time without prior notice. It is your responsibility to review these terms periodically for any changes.</p>
        <p>8. Dar Arqam holds no responsibility for the consequences of neglecting the academy policy.</p>
       
        <div class="sub-title">Free Trial</div>
        <p>• We provide one complimentary trial lesson, exclusively available to new customers.</p>
        <p>• Regrettably, we do not extend this offer to existing clients or those transitioning to new tutors.</p>

        <div class="sub-title">Money Back Guarantee</div>
        <p>• Dar Arqam provides you with the assurance to explore our courses confidently, backed by our commitment that if you're dissatisfied, you're entitled to a full refund. This guarantee applies exclusively if you cancel your course within the first week. Refunds will not be granted for lessons attended beyond this initial period.</p>
        <p>• Should you decide to discontinue your lessons at any point, you're entitled to a refund for the remaining sessions.</p>
        
        <div class="sub-title">Attendance Policy</div>
        <p>• The student should be in the classroom at least one minute before the lesson.</p>
        <p>• The tutor will promptly begin the lesson at the scheduled start time. In the event of a student's absence, the tutor will wait for half of the lesson duration. However, if the student fails to attend within this timeframe, the absence will be marked as "unexcused," and the lesson will not be rescheduled.</p>
        <p>• If the lesson begins late due to the student, the lesson will resume until the end of the scheduled time.</p>
        <p>• If the tutor is absent from the classroom, please notify us immediately so that we can address the issue promptly. If the tutor misses the lesson without a substitute filling in, a makeup lesson will be arranged at the student's convenience, at no extra cost.</p>
        <p>• To reschedule a lesson due to the reasons listed below, the student must provide a 3-hour notice to either the tutor or the support to prevent being marked as an "unexcused absence."</p>
        <p>• Excused absences include illness, a death in the family, appointments, conflicts with work or school, and technical issues (such as internet or computer problems).</p>
        <p>• If the support is informed at least 3 hours before the lesson, the lesson can be rescheduled at no additional cost. In the event of sudden illness or a family bereavement, please contact us immediately to cancel your lesson.</p>
        <p>• Make-up lessons are only scheduled after the missed lesson and can be rescheduled for any available time slot.</p>
        <p>• Refunds are not provided for any type of absence.</p>
        <p>• In the event of an unexcused absence, neither a refund nor a make-up lesson will be offered for that particular session.</p>
        <p>• Should a lesson be canceled due to the tutor's absence for any reason, a make-up session will be arranged at no extra fee. No refunds will be issued for missed lessons.</p>
        <p>• If the student fails to attend the rescheduled session, no additional make-up lesson or refund will be provided.</p>
        <p>• The administration reserves the right to assign a substitute teacher to conduct the missed lesson using the tutor's classroom and following the academy's guidelines for that day.</p>
        <p>• While we aim to minimize this occurrence, there may be instances where a permanent change in tutor becomes necessary.</p>
        
        <div class="sub-title">Lessons and Classrooms</div>
        <p>• Lessons at Dar Arqam are conducted in classrooms using various platforms such as Zoom, Skype, or any other suitable method as determined by the academy.</p>
        <p>• The method or timing of lessons cannot be altered except by contacting the support team, and this responsibility does not fall on the tutor.</p>
        <p>• The tutor and student may communicate outside the classroom, with the knowledge of the administration, and using the designated means for such communication.</p>
        
        <div class="sub-title">Tuition Policy</div>
        <p>• Payment is due at the beginning of each billing period according to your chosen plan, with each month considered as four weeks.</p>
        <p>• In the event of a payment failure, the student will receive a reminder. If the payment remains outstanding one week after the invoice date, the student's lessons will be temporarily suspended until payment is received. Upon receipt of payment, lessons will resume as usual.</p>
        <p>• Should a student encounter difficulty making a payment on time, they should promptly contact us to arrange an alternative payment schedule.</p>
        <p>• We do not store any banking card details, nor do we share customer information with third parties. Your details are securely stored either by PayPal or the bank processing your card payments.</p>
        <p>• If a student decides to stop lessons and has automatic payments enabled in their billing account, please ensure to deactivate the auto payments in your PayPal account.</p>
        <p>• All tuition fees must be paid through Dar Arqam's payment gateway. Please refrain from sending money via any other means or accounts.</p>
        <p>• Dar Arqam reserves the right to tuition fee increases for all enrolled students.</p>

        <div class="sub-title">Holidays</div>
        <p>• Dar Arqam strives to keep the academy open throughout the year, except for two significant holidays observed by all tutors, staff, and students: Eid Ul-Fitr and Eid Ul-Adha. During Eid Ul-Fitr, the academy will be closed for three days, and for Eid Ul-Adha, it will be closed for four days. As with other tuition-based schools, tuition fees will not be credited or refunded for these holidays. We appreciate your understanding.</p>
        <p>• Dar Arqam tutors are committed to continuing lessons through any other holiday. However, if a student requires time off for any other holiday, they should notify support at least 24 hours in advance to reschedule up to two lessons.</p>

        <div class="sub-title">Lesson Recordings</div>
        <p>• To uphold our commitment to delivering high-quality service, certain lessons may be recorded for review by the quality team.</p>
        <p>• These recorded lessons are exclusively for the use of the quality and supervision teams to ensure the ongoing quality of the educational process.</p>
        <p>• Parents, Students, and Tutors are not permitted to record lessons (audio or video). This policy is in place to safeguard privacy and intellectual property rights.</p>
        <p>• Typically, we keep lesson recordings for 90 days from the date of the respective lesson, following our Privacy Policy. After this period, recordings are deleted. Additionally, we may delete recordings before the 90-day timeframe if a parent requests the removal of their child's personally identifiable information.</p>
        <p>• Lesson recordings containing images of you or your children will not be utilized for promotional or any other purposes without your explicit written consent.</p>

        <div class="sub-title">Help and Support</div>
        <p>• If you have any questions, concerns, or need advice regarding course plans, levels, subject material, or customizing your course, please don't hesitate to reach out to us.</p>
        <p>• For any inquiries, including lesson cancellations, reschedules, billing questions, technical issues, etc., please don't hesitate to contact us at <a href="mailto:support@dararqam.com">support@dararqam.com</a>.</p>
        <p>• We prioritize and promptly address complaints from both our parents and students. Expect acknowledgment of complaints within three business days.</p>
        <p>• Should you find any aspect of your education or support unsatisfactory, please reach out to us at admin@dararqam.com to resolve the matter.</p>
        
        <footer>
            <p>© <span id="year"></span> Dar Arqam. All rights reserved.</p>
        </footer>
    </div>

    <script>
        document.getElementById("year").innerHTML = new Date().getFullYear();
    </script>
</body>
</html>
