<!DOCTYPE html>
<html>

<head>
  <title>Free Trial Lesson - Dar Arqam</title>
  <meta charset="UTF-8" />
  <meta name="description"
    content="Learn Qur'an, Arabic, and Islamic Studies online with expert tutors.
    Dar Arqam, where the timeless beauty of the Quran and the richness 
    of the Arabic language come alive in the digital realm." />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="icon" href="images/favicon.ico" type="image/ico" />
  <link rel="icon" href="images/favicon-16x16.png" type="image/ico" sizes="16x16" />
  <link rel="icon" href="images/favicon-32x32.png" type="image/png" sizes="32x32" />
  <link rel="stylesheet" href="/css/homeStyle.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" />
  <link href="https://fonts.googleapis.com/css2?family=Reem+Kufi&display=swap" rel="stylesheet">
  <script src="/javaScript/homeScript.js"></script>

<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=AW-16468014061">
</script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'AW-16468014061');
</script>

<!-- <script src="https://www.google.com/recaptcha/enterprise.js?render=6Le-PxUqAAAAAH36yAEY-tMAWqU5TaVRWaUdts1W"></script> -->
</head>

<body>
  <!-- Navbar -->
  <%- include("layout/header") -%>

    <div class="promo-text">
      <h1><span class="dar-arqam">Dar Arqam</span> Offers Free Evaluation Sessions!</h2>
      <p class="description">Fill out the form below to schedule your free trial class.</p>
      <p class="confidential">🔒 Your information will remain confidential and never be shared with third parties.</p>
    </div>

    <section class="registration">
      <form id="registration_form" action="/send_email" method="POST" onsubmit="return validateForm()">
        <div class="form-group">
          <label for="name">Full Name: <span style="color: red;">*</span></label>
          <input type="text" id="name" name="name" required />
        </div>

        <div class="form-group">
          <div class="input-field">
            <label for="email">Email: <span style="color: red;">*</span></label>
            <input type="email" id="email" name="email" required />
          </div>
          <div class="input-field">
            <label for="phone">Phone Number: <span style="color: red;">*</span></label>
            <input type="number" id="phone" name="phone" required />
          </div>
        </div>

        <div class="form-group">
          <div class="input-field">
            <label for="country">Country: <span style="color: red;">*</span></label>
            <input type="text" id="country" name="country" required />
          </div>
          <div class="input-field">
            <label for="city">City: <span style="color: red;">*</span></label>
            <input type="text" id="city" name="city" required />
          </div>
        </div>

        <div class="form-group">
          <div class="input-field">
            <label for="age">Student Age: <span style="color: red;">*</span></label>
            <input type="number" id="age" name="age" required />
        </div>

          <div class="gender">
            <label for="gender">Gender: <span style="color: red;">*</span></label>
            <div class="gend">
            <input type="radio" id="male" name="gender" value="male" required>
              <label for="male" >Male</label>
            </input>
            <input type="radio" id="female" name="gender" value="female" required>
              <label for="female" >Female</label>
            </input>
            </div>
          </div>
        </div>

        <!-- Course Selection Section -->
        <div class="form-group">
          <label for="course">Course: <span class="required">*</span></label>
          <select id="course" class="form-control">
            <option value="" disabled selected>Choose courses</option>
            <option value="quranic-arabic">Quranic Arabic Course</option>
            <option value="arabic-kids">Arabic Course for Kids</option>
            <option value="arabic-adults">Arabic Course for Adults</option>
            <option value="arabic-conversation">Arabic Conversation Course</option>
            <option value="arabic-grammar">Arabic Grammar Course</option>
            <option value="islamic-kids">Islamic Studies for Kids</option>
            <option value="islamic-adults">Islamic Studies for Adults</option>
            <option value="noorani-qaida">Noorani Qaida Course</option>
            <option value="new-muslim">New Muslim Converts Course</option>
            <option value="quran-kids">Quran for Kids Course</option>
            <option value="quran-tajweed">Quran with Tajweed Course</option>
            <option value="quran-memorization">Quran Memorization Course</option>
            <option value="quran-hifz">Quran Hifz Course</option>
            <option value="quran-recitation">Quran Recitation Course</option>
            <option value="quran-ijazah">Quran Ijazah Course</option>
            <option value="tajweed-rules">Tajweed Rules Course</option>
            <option value="tafseer-quran">Tafseer Quran Course</option>
            <option value="10-qiraat">10 Qiraat Quran Course</option>
            <option value="modern-standard-arabic">Modern Standard Arabic</option>
          </select>
          <div id="course-container" class="selected-courses-container"></div>
          <input type="hidden" name="course" id="selected-courses" required>
          <small class="text-danger d-none" id="course-error">Choose one or more courses.</small>
        </div>

            <!-- Message -->
        <div class="form-group">
          <label for="message">Message:</label>
          <textarea id="message" name="message" rows="4" placeholder="Tell us more about your learning goals!"></textarea>
        </div>

        <input type="submit" value="Submit" />
      </form>

      <div id="hover-message">Successfully Registered. We will contact you.</div>

      <script>
          function validateForm() {
          var name = document.getElementById('name').value;
          var country = document.getElementById('country').value;
          var city = document.getElementById('city').value;

          var lettersWithSpaces = /^[A-Za-z\s]+$/;

          if (!name.match(lettersWithSpaces)) {
            alert('Please enter only letters and spaces for Full Name');
            return false;
          }

          if (!country.match(lettersWithSpaces)) {
            alert('Please enter only letters and spaces for Country');
            return false;
          }

          if (!city.match(lettersWithSpaces)) {
            alert('Please enter only letters and spaces for City');
            return false;
          }

          // grecaptcha.enterprise.ready(function() {
          // grecaptcha.enterprise.execute('6Le-PxUqAAAAAH36yAEY-tMAWqU5TaVRWaUdts1W', {action: 'submit'}).then(function(token) {
          // document.getElementById('g-recaptcha-response').value = token;
          // document.getElementById('registration-form').submit();
          //  });
          //  });

          return true;
        }

              // contry and time zone
      const countrySelect = document.getElementById("country");

  // List of all countries
  const countries = [
    "Afghanistan", "Albania", "Algeria", "Andorra", "Angola", "Antigua and Barbuda", "Argentina", "Armenia", "Australia", "Austria",
    "Azerbaijan", "Bahamas", "Bahrain", "Bangladesh", "Barbados", "Belarus", "Belgium", "Belize", "Benin", "Bhutan",
    "Bolivia", "Bosnia and Herzegovina", "Botswana", "Brazil", "Brunei", "Bulgaria", "Burkina Faso", "Burundi", "Cabo Verde",
    "Cambodia", "Cameroon", "Canada", "Central African Republic", "Chad", "Chile", "China", "Colombia", "Comoros", "Congo",
    "Costa Rica", "Croatia", "Cuba", "Cyprus", "Czech Republic", "Denmark", "Djibouti", "Dominica", "Dominican Republic",
    "Ecuador", "Egypt", "El Salvador", "Equatorial Guinea", "Eritrea", "Estonia", "Eswatini", "Ethiopia", "Fiji", "Finland",
    "France", "Gabon", "Gambia", "Georgia", "Germany", "Ghana", "Greece", "Grenada", "Guatemala", "Guinea", "Guyana",
    "Haiti", "Honduras", "Hungary", "Iceland", "India", "Indonesia", "Iran", "Iraq", "Ireland", "Israel", "Italy", "Jamaica",
    "Japan", "Jordan", "Kazakhstan", "Kenya", "Kuwait", "Kyrgyzstan", "Laos", "Latvia", "Lebanon", "Lesotho", "Liberia",
    "Libya", "Lithuania", "Luxembourg", "Madagascar", "Malawi", "Malaysia", "Maldives", "Mali", "Malta", "Mauritania",
    "Mauritius", "Mexico", "Moldova", "Monaco", "Mongolia", "Morocco", "Mozambique", "Myanmar", "Namibia", "Nepal",
    "Netherlands", "New Zealand", "Nicaragua", "Niger", "Nigeria", "North Korea", "North Macedonia", "Norway", "Oman",
    "Pakistan", "Palestine", "Panama", "Papua New Guinea", "Paraguay", "Peru", "Philippines", "Poland", "Portugal", "Qatar",
    "Romania", "Russia", "Rwanda", "Saudi Arabia", "Senegal", "Serbia", "Seychelles", "Sierra Leone", "Singapore", "Slovakia",
    "Slovenia", "Somalia", "South Africa", "South Korea", "South Sudan", "Spain", "Sri Lanka", "Sudan", "Sweden", "Switzerland",
    "Syria", "Tajikistan", "Tanzania", "Thailand", "Togo", "Tunisia", "Turkey", "Turkmenistan", "Uganda", "Ukraine",
    "United Arab Emirates", "United Kingdom", "United States", "Uruguay", "Uzbekistan", "Venezuela", "Vietnam", "Yemen", "Zambia", "Zimbabwe"
  ];
    // Populate country dropdown
    countries.forEach(country => {
    const option = document.createElement("option");
    option.value = country;
    option.textContent = country;
    countrySelect.appendChild(option);
  });

        // Prevent entering symbols or numbers
        document.addEventListener('DOMContentLoaded', function() {
          var nameField = document.getElementById('name');
          var countryField = document.getElementById('country');
          var cityField = document.getElementById('city');

          nameField.addEventListener('input', function(event) {
            if (!/^[A-Za-z\s]*$/.test(event.target.value)) {
              event.target.value = event.target.value.replace(/[^A-Za-z\s]/g, '');
            }
          });

          countryField.addEventListener('input', function(event) {
            if (!/^[A-Za-z\s]*$/.test(event.target.value)) {
              event.target.value = event.target.value.replace(/[^A-Za-z\s]/g, '');
            }
          });

          cityField.addEventListener('input', function(event) {
            if (!/^[A-Za-z\s]*$/.test(event.target.value)) {
              event.target.value = event.target.value.replace(/[^A-Za-z\s]/g, '');
            }
          });
        });

         // Show the hover message
        document.getElementById("registration_form").addEventListener("submit", function(event) {    
            document.getElementById("hover-message").style.display = "block";    
            // Hide the message after 4 seconds (4000 milliseconds)
            setTimeout(function() {
                document.getElementById("hover-message").style.display = "none";
            }, 4000);

         });

        // courses
        const courseSelect = document.getElementById("course");
        const courseContainer = document.getElementById("course-container");
        const selectedCoursesInput = document.getElementById("selected-courses");
        const errorText = document.getElementById("course-error");

        let selectedCourses = [];

        courseSelect.addEventListener("change", function () {
            const selectedValue = this.value;
            if (selectedValue && !selectedCourses.includes(selectedValue)) {
                selectedCourses.push(selectedValue);
                updateSelectedCourses();
                removeSelectedOption(selectedValue);
            }
        });

        function updateSelectedCourses() {
            courseContainer.innerHTML = "";
            selectedCourses.forEach(course => {
                const courseTag = document.createElement("div");
                courseTag.classList.add("selected-course");
                courseTag.innerHTML = `
                    ${courseSelect.querySelector(`option[value="${course}"]`).text}
                    <button type="button" onclick="removeCourse('${course}')">&times;</button>
                `;
                courseContainer.appendChild(courseTag);
            });
            selectedCoursesInput.value = selectedCourses.join(",");
            validateSelection();
        }

        function removeCourse(course) {
            selectedCourses = selectedCourses.filter(c => c !== course);
            updateSelectedCourses();
            addOptionBack(course);
        }

        function removeSelectedOption(course) {
            const optionToRemove = courseSelect.querySelector(`option[value="${course}"]`);
            if (optionToRemove) optionToRemove.style.display = "none";
        }

        function addOptionBack(course) {
            const optionToShow = courseSelect.querySelector(`option[value="${course}"]`);
            if (optionToShow) optionToShow.style.display = "block";
        }

        function validateSelection() {
            if (selectedCourses.length === 0) {
                errorText.classList.remove("d-none");
            } else {
                errorText.classList.add("d-none");
            }
        }

        document.querySelector("form").addEventListener("submit", function (event) {
            if (selectedCourses.length === 0) {
                event.preventDefault();
                errorText.classList.remove("d-none");
            }
        });


  document.querySelector("form").addEventListener("submit", function (event) {
    if (selectedCourses.length === 0) {
      event.preventDefault();
      errorText.classList.remove("d-none");
    }
  });
      </script>
      </section>

    <!-- Footer -->
    <%- include("layout/footer") -%>
</body>
</html>