<section class="links" id="links">
    <a href="https://quran.com/" target="_blank">QURAN</a>
    <a href="https://sunnah.com/" target="_blank">SUNNAH</a>
    <a href="https://hijri-calendar.com/" target="_blank">HIJRI CALENDAR</a>
    <a href="https://www.youtube.com/@DarArqamAcademy" target="_blank">YOUTUBE</a>
</section>

<section class="additional-links">
    <a href="/terms" target="_blank">Terms</a>
    <a href="/privacy-policy" target="_blank">Privacy Policy</a>
</section>

<footer>
    <div class="container">
        <p id="rights">© <span id="year"></span> Dar Arqam. All rights reserved.</p>
    </div>
</footer>

<script>
    document.getElementById("year").innerHTML = new Date().getFullYear();
</script>