<nav>
    <div class="logo">
        <a id="web-logo" href="https://dararqam.com"><img src="images/logo.png" alt="Dar Arqam Logo" /></a>
        <a id="web-name" href="https://dararqam.com"  ><img src="images/dararqam.png" style="height: 34px; width: 135px;" alt="Dar Arqam" /></a>
    </div>

    <button class="menu-button"><i class="fa fa-2xl fa-bars"></i></button>

    <ul class="nav-links">
        <li><a href="#hero">Home</a></li>
        <li><a href="#about">About</a></li>
        <li><a href="#courses">Courses</a></li>
        <a href="/plans" target="_blank">Plans</a>
        <li><a href="#registration">Contact</a></li>
        <!-- <li><a href="#" id="login">Login</a></li> -->
        <!-- <li><a href="#" id="register">Sign Up</a></li> -->
    </ul>
    
</nav>